<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softark.eddie.gasexpress">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />


    <application
        android:name=".core.ApplicationConfiguration"
        android:allowBackup="true"
        android:icon="@mipmap/gx_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".helpers.SmsHelper"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name=
                    "android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".activities.GESplashActivity"
            android:label="Gas Express"
            android:theme="@style/GESplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PriceActivity"
            android:label="Gas Prices"
            android:parentActivityName=".activities.GasExpress"
            android:theme="@style/PriceTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GasExpress" />
        </activity>
        <activity
            android:name=".activities.GEHistory"
            android:label="History"
            android:parentActivityName=".activities.GasExpress"
            android:theme="@style/PriceTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GasExpress" />
        </activity>
        <activity
            android:name=".activities.GERegisterActivity"
            android:label="Register"
            android:parentActivityName=".activities.GasExpress"
            android:theme="@style/CartTheme"
            android:windowSoftInputMode="stateAlwaysVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GasExpress" />
        </activity>
        <activity
            android:name=".activities.GELoginActivity"
            android:label="Login"
            android:theme="@style/CartTheme" />
        <activity
            android:name=".activities.GELocation"
            android:theme="@style/PriceTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQWEcHRAVHVNPQLfntrr7T3P6rmOfO4NI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.GasExpress"
            android:label="@string/title_activity_gas_express"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.GEMyLocationActivity"
            android:label="My Locations"
            android:parentActivityName=".activities.GasExpress"
            android:theme="@style/PriceTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GasExpress" />
        </activity>
        <activity
            android:name=".activities.GECartActivity"
            android:label="Cart"
            android:parentActivityName=".activities.GasExpress"
            android:theme="@style/CartTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GasExpress" />
        </activity>
        <activity
            android:name=".activities.GEAccessoryActivity"
            android:label="Accessories"
            android:parentActivityName=".activities.GasExpress"
            android:theme="@style/PriceTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GasExpress" />
        </activity>
        <activity
            android:name=".activities.GEBulkGasActivity"
            android:label="Bulk Gas"
            android:parentActivityName=".activities.GasExpress"
            android:theme="@style/PriceTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GasExpress" />
        </activity>
    </application>

</manifest>